<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="../../../public/css/main.css">

</head>
<body>
    
    <header id="header__main">
        <div class="log">
            <a href="index.html">La vaca lactea</a>
        </div>

        <div class="profile-image__main">
            <a href="#">
                <img src="../../../public/uploads/profile_pictures/image-default.jpg" alt="Image profile">
            </a>
        </div>
    </header>

    <main>
        <section class="options__home">
            <!-- START CARD -->
            <!-- <article class="option">
                <header>
                    <h2 class="option__title">Registrar liquidación</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" width="45" height="45" stroke-width="2">
                        <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                        <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                        <path d="M9 12l.01 0"></path>
                        <path d="M13 12l2 0"></path>
                        <path d="M9 16l.01 0"></path>
                        <path d="M13 16l2 0"></path>
                    </svg>
                </header>
                <main>
                    <p class="option__description">Hacer el registro de una liquidación con sus respectivos datos</p>
                </main>
                <footer class="option__footer">
                    <a href="#" class="button">Ir al modulo</a>
                </footer>
            </article> -->
            <!-- END CARD -->
            <!-- START CARD -->
            <article class="option">
                <header>
                    <h2 class="option__title">Registrar liquidación</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" width="45" height="45" stroke-width="2">
                        <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                        <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                        <path d="M9 12l.01 0"></path>
                        <path d="M13 12l2 0"></path>
                        <path d="M9 16l.01 0"></path>
                        <path d="M13 16l2 0"></path>
                    </svg>
                </header>
                <main>
                    <p class="option__description">Hacer el registro de una liquidación con sus respectivos datos</p>
                </main>
                <footer class="option__footer">
                    <!-- /* From Uiverse.io by mask_guy_0 */  -->
                     <a href="http://www.facebook.com">
                         <button class="animated-button">
                             <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                                 <path
                                 d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                                 ></path>
                             </svg>
                             <span class="text">Ir al modulo</span>
                             <span class="circle"></span>
                             <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                                 <path
                                 d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                                 ></path>
                             </svg>
                         </button>
                     </a>

                </footer>
            </article>
            <!-- END CARD -->
        </sectio>
    </main>

</body>
</html>